<div class="container">
    <div class = "left-content">
      <div class ="video">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/XQsG0O-wums?autoplay=1" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </div>
      <div class="info">
        <h2> STAR WARS 8 Bande Annonce "D23" (2017) LES DERNIERS JEDI / FilmsActu </h2>
        <p>Published on Jul 15, 2017</p>

        <p>Une vidéo PLEINE de nouvelles images !</p>

        <p>★ Les Films à VOIR ? Ils sont ICI ► https://www.youtube.com/playlist?list...

        Star Wars LES DERNIERS JEDI Bande Annonce VOST
        © 2017 - Disney

        Comédies familiales, films d'action, d'animation ou de super-héro, de science fiction ou d'humour, films français ou blockbusters américains... Il y en a pour tous les goûts !

        Abonnez-vous dès maintenant pour ne pas rater la bande annonce en français VF ou le trailer VOST / VOSTFR du moment ainsi l'extrait vidéo ou scène des films prochainement au cinéma.

        Filmsactu : un point complet sur l'actualité du grand écran et les nouveautés DVD & Blu-Ray !
        </p>
        <p>Category
            Film & Animation 
        License
            Standard YouTube License 
        </p>
      </div>
      <div class = "buttons">
        <p> Add Share More </p>
      </div>
      <div class = "comments">
        <div class = "comments-content">
          <div class = "comments-text">
          </div>

        </div>

      </div>
      
    </div>


    <div class = "right-content">
    
      <div class = "thumbnail-image">
        <img src="/images/starwar8_french.jpg" alt="starwar8_french.jpg" style="width: 128px; height:94px;">
      </div>
      <span class = "thumbnail-title">
      Star Wars 8 : The Last Jedi - International FRENCH Trailer
      </span>
      <span class= "thumbnail-autor">FilmsActu
      </span>
      <span class = "view-count">1.207.021 views
      </span> 

    </div>

</div> 
