<div class = "footer">
  <div class = "footer-main">
    Youtube Language Content location: France  Restricted Mode: Off History Help
  </div>
  <div class = "footer-links" id="footer-links">
    <a href="https://www.youtube.com/yt/about/">About</a>
    <a href="https://www.youtube.com/yt/about/press/">Press</a>
    <a href="https://www.youtube.com/yt/about/copyright/#support-and-troubleshooting">Copyright</a>
    <a href="https://www.youtube.com/yt/creators/">Creators</a>
    <a href="https://www.youtube.com/yt/advertise/">Advertise</a>
    <a href="https://www.youtube.com/yt/dev/">Developers</a>
    <a href="https://plus.google.com/+youtube">+Youtube</a>
  </div>
</div>